.product-carousel {
    margin: 40px;
    margin-top: 30px;
    position: relative;
  }
  
  .carousel-header h2 {
    color: #2d5ab9;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 40px 0 0.5rem;
  }
  
  .carousel-header p {
    color: #121fda;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-bottom: 40px;
  }
  
  .carousel-wrapper {
    position: relative;
  }
  
  .carousel-container {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 40px 20px;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
  }
  
  /* Flechas ABSOLUTAS para que queden fuera de los productos */
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0000003d;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .carousel-btn:hover {
    background-color: #333;
    
  }
  
  .carousel-btn.left {
    left: 0;
  }
  
  .carousel-btn.right {
    right: 0;
  }
  
  .carousel-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .carousel-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .carousel-container::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 4px;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 280px;
    height: 280px; /* Altura fija para todas las tarjetas */
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: border 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 4px 8px 4px rgba(0.1, 0.1, 0.1, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-card:hover {
    border: 2px solid rgba(0, 0, 0, 0.363);
  }
  
  .product-card img {
    width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover;
  }
  
  .product-card .info {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  